
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Twitter Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <style>
        li {
        margin-left : 1.5em;
        margin-right : 1.5em;
    }
    </style>   
  </head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>

    <main role="main" id="vue-div">

      <!-- Main jumbotron for a primary marketing message or call to action -->
{% verbatim %}

      <div class="container" style="margin-top: 8em">
        <!-- Example row of columns -->
        <div class="row">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item active" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveMon }" v-on:click="type = 'Mon'" href="#">Monday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveTues }" v-on:click="type = 'Tues'" href="#">Tuesday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveWed }" v-on:click="type = 'Wed'" href="#">Wednesday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveThurs }" v-on:click="type = 'Thurs'" href="#">Thursday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveFri }" v-on:click="type = 'Fri'" href="#">Friday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveSat }" v-on:click="type = 'Sat'" href="#">Saturday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveSun }" v-on:click="type = 'Sun'" href="#">Sunday</a>
                    </li>
                </ul>
        </div> <!-- /container -->
  
    
        <div v-if="type == 'Mon'" id="monday">
            <p>Monday</p>
        </div>
        <div v-if="type == 'Tues'"id="tuesday">
            <p>Tuesday</p>
        </div>
        <div v-if="type == 'Wed'" id="wednesday">
            <p>Wednesday</p>
        </div>
        <div v-if="type == 'Thurs'" class="" id="thursday">
            <p>Thursday</p>
        </div>
        <div v-if="type == 'Fri'" class="" id="friday">
            <p>Friday</p>
        </div>
        <div v-if="type == 'Sat'" class="" id="saturday">
            <p>Saturday</p>
        </div>
        <div v-if="type == 'Sun'" class="" id="sunday">
            <p>Sunday</p>
        </div>
</div>
</main>

{% endverbatim %}
<!--
    <footer class="footer navbar-fixed-bottom">
      <p>&copy; Company 2017</p>
    </footer>
-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.27/vue.js"></script>        
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        var app = function() {
            var self = {};
            
            self.toggleActiveDay = function() {
                self.vue.isActiveMon = (self.vue.type == 'Mon') ? true : false;
                self.vue.isActiveTues = (self.vue.type == 'Tues') ? true : false;
                self.vue.isActiveWed = (self.vue.type == 'Wed') ? true : false;
                self.vue.isActiveThurs = (self.vue.type == 'Thurs') ? true : false;
                self.vue.isActiveFri = (self.vue.type == 'Fri') ? true : false;
                self.vue.isActiveSat = (self.vue.type == 'Sat') ? true : false;
                self.vue.isActiveSun = (self.vue.type == 'Sun') ? true : false;
            }

            self.vue = new Vue({
                el: "#vue-div",
                delimiters: ['${', '}'],
                unsafeDelimiters: ['!{', '}'],
                data: {
                    isActiveMon: true,
                    isActiveTues: false,
                    isActiveWed: false,
                    isActiveThurs: false,
                    isActiveFri: false,
                    isActiveSat: false,
                    isActiveSun: false,
                    type: 'Mon'
                },
                methods: {
                    toggleActiveDay: self.toggleActiveDay
                }
            });
            return self;
        };
        
        var APP = null;
        // This will make everything accessible from the js console;
        // for instance, self.x above would be accessible as APP.x
        jQuery(function(){APP = app();});
    </script>
</body>

</html>
