
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Twitter Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <style>
        li {
        margin-left : 2em;
        margin-right : 2em;
    }
    </style>   
  </head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Tweet Dash</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>

    <main role="main" id="vue-div">
      <!-- Main jumbotron for a primary marketing message or call to action -->
{% verbatim %}

      <div class="container" style="margin-top: 8em;">
        <!-- Example row of columns -->
        <div class="row" style="padding-bottom: 2em">
                <ul class="nav  nav-pills nav-fill">
                    <li class="nav-item active" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveMon }" v-on:click="type = 'Mon'" href="#">Monday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveTues }" v-on:click="type = 'Tues'" href="#">Tuesday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveWed }" v-on:click="type = 'Wed'" href="#">Wednesday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveThurs }" v-on:click="type = 'Thurs'" href="#">Thursday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveFri }" v-on:click="type = 'Fri'" href="#">Friday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveSat }" v-on:click="type = 'Sat'" href="#">Saturday</a>
                    </li>
                    <li class="nav-item" v-on:click="toggleActiveDay">
                        <a class="nav-link" v-bind:class="{ active: isActiveSun }" v-on:click="type = 'Sun'" href="#">Sunday</a>
                    </li>
                </ul>
        </div> <!-- /container -->
        {% endverbatim %}
        {% verbatim %}
        <div class="col-md-6 offset-3" style="" v-if="type == 'Mon'" id="monday">
        {% endverbatim %}
            {% for tweet in tweets %}
            {% if tweet.day == 'Monday' %}
            <div style="cursor: pointer;" data-toggle="modal" data-target="#{{ tweet.id }}">
            <tr>
                    <p style="font-family: Helvetica Neue">{{ tweet.leading_tweet }}</p>
                    <p style="font-family: Helvetica Neue; display:inline">{{ tweet.date }}</p>
                    <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-retweet" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.likes }}</p>
                    <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-heart-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.retweets }}</p>
                    {% if tweet.thread|length > 1 %}
                    <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-comment-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.thread|length }}</p>                
                    <p style="font-family: Helvetica Neue; display:inline; position:absolute; right:0"><i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></p>
                    {% endif %}
                    <p></p>
                </tr>
            </div>
            {% endif %}
            <!-- Modal -->
            {% if tweet.thread|length > 1 %}
            <div class="modal fade" id="{{ tweet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role ="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{tweet.date}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                                {% for t in tweet.thread %}
                                    <p style="font-family: Helvetica Neue">{{ t }}</p>
                                {% endfor %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% verbatim %}
        <div class="col-md-6 offset-3"  v-if="type == 'Tues'" id="tuesday">
                {% endverbatim %}
                {% for tweet in tweets %}
                {% if tweet.day == 'Tuesday' %}
                <div style="cursor: pointer;" data-toggle="modal" data-target="#{{ tweet.id }}">
                    <tr>
                            <p style="font-family: Helvetica Neue">{{ tweet.leading_tweet }}</p>
                            <p style="font-family: Helvetica Neue; display:inline">{{ tweet.date }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-retweet" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.likes }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-heart-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.retweets }}</p>
                            {% if tweet.thread|length > 1 %}
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-comment-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.thread|length }}</p>                
                            <p style="font-family: Helvetica Neue; display:inline; position:absolute; right:0"><i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></p>
                            {% endif %}
                            <p></p>
                        </tr>
                    </div>
                {% endif %}
                  <!-- Modal -->
            {% if tweet.thread|length > 1 %}
            <div class="modal fade" id="{{ tweet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role ="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{tweet.date}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                                {% for t in tweet.thread %}
                                    <p style="font-family: Helvetica Neue">{{ t }}</p>
                                {% endfor %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
        </div>
        {% verbatim %}
        <div class="col-md-6 offset-3" v-if="type == 'Wed'" id="wednesday">
                {% endverbatim %}
                {% for tweet in tweets %}
                {% if tweet.day == 'Wednesday' %}
                <div style="cursor: pointer;" data-toggle="modal" data-target="#{{ tweet.id }}">
                    <tr>
                            <p style="font-family: Helvetica Neue">{{ tweet.leading_tweet }}</p>
                            <p style="font-family: Helvetica Neue; display:inline">{{ tweet.date }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-retweet" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.likes }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-heart-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.retweets }}</p>
                            {% if tweet.thread|length > 1 %}
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-comment-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.thread|length }}</p>                
                            <p style="font-family: Helvetica Neue; display:inline; position:absolute; right:0"><i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></p>
                            {% endif %}
                            <p></p>
                        </tr>
                    </div>
                {% endif %}
                 <!-- Modal -->
            {% if tweet.thread|length > 1 %}                 
            <div class="modal fade" id="{{ tweet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role ="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{tweet.date}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                                {% for t in tweet.thread %}
                                    <p style="font-family: Helvetica Neue">{{ t }}</p>
                                {% endfor %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

        </div>
        {% verbatim %}
        <div class="col-md-6 offset-3" v-if="type == 'Thurs'" class="" id="thursday">
                {% endverbatim %}
                {% for tweet in tweets %}
                {% if tweet.day == 'Thursday' %}
                <div style="cursor: pointer;" data-toggle="modal" data-target="#{{ tweet.id }}">
                    <tr>
                            <p style="font-family: Helvetica Neue">{{ tweet.leading_tweet }}</p>
                            <p style="font-family: Helvetica Neue; display:inline">{{ tweet.date }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-retweet" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.likes }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-heart-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.retweets }}</p>
                            {% if tweet.thread|length > 1 %}
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-comment-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.thread|length }}</p>                
                            <p style="font-family: Helvetica Neue; display:inline; position:absolute; right:0"><i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></p>
                            {% endif %}
                            <p></p>
                        </tr>
                    </div>
                {% endif %}
                <!-- Modal -->
            {% if tweet.thread|length > 1 %}                
            <div class="modal fade" id="{{ tweet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role ="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{tweet.date}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                                {% for t in tweet.thread %}
                                    <p style="font-family: Helvetica Neue">{{ t }}</p>
                                {% endfor %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
        </div>
        {% verbatim %}
        <div class="col-md-6 offset-3" v-if="type == 'Fri'" class="" id="friday">
                {% endverbatim %}
                {% for tweet in tweets %}
                {% if tweet.day == 'Friday' %}
                <div style="cursor: pointer;" data-toggle="modal" data-target="#{{ tweet.id }}">
                    <tr>
                            <p style="font-family: Helvetica Neue">{{ tweet.leading_tweet }}</p>
                            <p style="font-family: Helvetica Neue; display:inline">{{ tweet.date }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-retweet" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.likes }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-heart-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.retweets }}</p>
                            {% if tweet.thread|length > 1 %}
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-comment-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.thread|length }}</p>                
                            <p style="font-family: Helvetica Neue; display:inline; position:absolute; right:0"><i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></p>
                            {% endif %}
                            <p></p>
                        </tr>
                    </div>
                {% endif %}
               
            <!-- Modal -->
            {% if tweet.thread|length > 1 %}            
            <div class="modal fade" id="{{ tweet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role ="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{tweet.date}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                                {% for t in tweet.thread %}
                                    <p style="font-family: Helvetica Neue">{{ t }}</p>
                                {% endfor %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}                
                {% endfor %}
        </div>
        {% verbatim %}
        <div class="col-md-6 offset-3" v-if="type == 'Sat'" class="" id="saturday">
                {% endverbatim %}
                {% for tweet in tweets %}
                {% if tweet.day == 'Saturday' %}
                <div style="cursor: pointer;" data-toggle="modal" data-target="#{{ tweet.id }}">
                    <tr>
                            <p style="font-family: Helvetica Neue">{{ tweet.leading_tweet }}</p>
                            <p style="font-family: Helvetica Neue; display:inline">{{ tweet.date }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-retweet" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.likes }}</p>
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-heart-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.retweets }}</p>
                            {% if tweet.thread|length > 1 %}
                            <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-comment-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.thread|length }}</p>                
                            <p style="font-family: Helvetica Neue; display:inline; position:absolute; right:0"><i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></p>
                            {% endif %}
                            <p></p>
                        </tr>
                    </div>
                {% endif %}
                 <!-- Modal -->
            {% if tweet.thread|length > 1 %}                 
            <div class="modal fade" id="{{ tweet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role ="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{tweet.date}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                                {% for t in tweet.thread %}
                                    <p style="font-family: Helvetica Neue">{{ t }}</p>
                                {% endfor %}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}                
                {% endfor %}
        </div>
        {% verbatim %}
        <div class="col-md-6 offset-3" v-if="type == 'Sun'" class="" id="sunday">
        {% endverbatim %}
        {% for tweet in tweets %}
        {% if tweet.day == 'Sunday' %}
        <div style="cursor: pointer;" data-toggle="modal" data-target="#{{ tweet.id }}">
            <tr>
                    <p style="font-family: Helvetica Neue">{{ tweet.leading_tweet }}</p>
                    <p style="font-family: Helvetica Neue; display:inline">{{ tweet.date }}</p>
                    <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-retweet" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.likes }}</p>
                    <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-heart-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.retweets }}</p>
                    {% if tweet.thread|length > 1 %}
                    <p style="font-family: Helvetica Neue; display:inline; padding-left: 3em"><i class="fa fa-comment-o" aria-hidden="true" style="padding-right: .5em"></i>{{ tweet.thread|length }}</p>                
                    <p style="font-family: Helvetica Neue; display:inline; position:absolute; right:0"><i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></p>
                    {% endif %}
                    <p></p>
                </tr>
            </div>
        {% endif %}
         <!-- Modal -->
         {% if tweet.thread|length > 1 %}         
         <div class="modal fade" id="{{ tweet.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role ="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{tweet.date}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                            {% for t in tweet.thread %}
                                <p style="font-family: Helvetica Neue">{{ t }}</p>
                            {% endfor %}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            {% endif %}            
            {% endfor %}
        </div>
</div>
</main>



<!--
    <footer class="footer navbar-fixed-bottom">
      <p>&copy; Company 2017</p>
    </footer>
-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.27/vue.js"></script>        
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        var app = function() {
            var self = {};
            
            self.toggleActiveDay = function() {
                self.vue.isActiveMon = (self.vue.type == 'Mon') ? true : false;
                self.vue.isActiveTues = (self.vue.type == 'Tues') ? true : false;
                self.vue.isActiveWed = (self.vue.type == 'Wed') ? true : false;
                self.vue.isActiveThurs = (self.vue.type == 'Thurs') ? true : false;
                self.vue.isActiveFri = (self.vue.type == 'Fri') ? true : false;
                self.vue.isActiveSat = (self.vue.type == 'Sat') ? true : false;
                self.vue.isActiveSun = (self.vue.type == 'Sun') ? true : false;
            }
            

            self.vue = new Vue({
                el: "#vue-div",
                delimiters: ['${', '}'],
                unsafeDelimiters: ['!{', '}'],
                data: {
                    isActiveMon: true,
                    isActiveTues: false,
                    isActiveWed: false,
                    isActiveThurs: false,
                    isActiveFri: false,
                    isActiveSat: false,
                    isActiveSun: false,
                    type: 'Mon'
                },
                methods: {
                    toggleActiveDay: self.toggleActiveDay
                }
            });
            return self;
        };
        
        var APP = null;
        // This will make everything accessible from the js console;
        // for instance, self.x above would be accessible as APP.x
        jQuery(function(){APP = app();});
   

    </script>
</body>

</html>
